@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('/assets/fonts/HelveticaNeueLTStd-Roman.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeueLTStd-Lt.otf') format('otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeueLTStd-Md.otf') format('otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeueLTStd-Bd.otf') format('otf');
  font-weight: 700;
}